@import "./mixins";

//Container
.container {
	max-width: 300px;
	margin: 0 auto;
}

@include x-sm {
	.container {
		max-width: 311px;
	}
}

@include sm {
	.container {
		max-width: 540px;
	}
}

@include md {
	.container {
		max-width: 720px;
	}
}

@include lg {
	.container {
		max-width: 960px;
	}
}

@include xl {
	.container {
		max-width: 1100px;
	}
}
