@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

//Variables

//Colors
$lightRed: #ff5e5e;
$moderateRed: #bc4747;
$darkBlue: #242942;
$grey: #e7ecf1;
$white: #fff;

//Font
$mainFont: "Barlow Condensed", sans-serif;
